{% extends 'base.j2' %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
    {#
        Cycle through the modules and include them & send data to them
    #}
    {% for module_index in range(module_data["modules"]|length) %}

        {% set module_name = (module_data["modules"][module_index]|list)[0] %}

            {% with data = module_data["modules"][module_index][module_name] %}

                {% include "site/modules/%s.j2" % module_name %}

            {% endwith %}

    {% endfor %}

    {# <script>
            console.log({{ pages|tojson }});
        </script> #}
{% endblock %}
