{% extends 'base.j2' %}
{% block title %}Home{% endblock %}
{% block content %}
<main>
    <header class="header">
        <h1 class="header__title  title  title-1">Hi! I'm Jack</h1>
        <img class="header__image" src="{{url_for('static', filename='images/me.png')}}" alt="Illustration of me." />
        <p class="header__subtitle  text  text--small">I have shorter hair now.</p>
        <p class="header__subtitle  text  text--small">And here is a collection of stories.</p>
    </header>

    <div id="app"></div>
</main>

<script src="{{url_for('static', filename='build/theme.js')}}" charset="utf-8"></script>
{% endblock %}
