{% extends 'base.j2' %}
{% block body %}
    {# <h1>{{ site_data }}</h1> #}
    <h1>{{ site_data['General']['data']['site-title'] }}</h1>
    {#
        Recent Posts
    #}
    <h2>Recent Posts</h2>
    {% for i in range(recent_posts|length) %}

        <article class="post">
            <h1 class="post__title"><a href="{{ '/posts/' + recent_posts[i]['_id']|string }}">{{ recent_posts[i]['title'] }}</a></h1>
            {% if recent_posts[i]['published'] %}
                <p class="post__metadata">{{ recent_posts[i]['published']|make_date }} | {{ recent_posts[i]['author'] }}</p>
            {% else %}
                <p class="post__metadata">Draft | {{ recent_posts[i]['author'] }}</p>
            {% endif %}


            {% for j in range(recent_posts[i]['content']|length) %}

                {% set module_data = recent_posts[i]['content'][j]|retrieve_content %}

                {% with postId = recent_posts[i]["_id"]|string %}
                {% with content = module_data %}

                    {% include "posts/%s.j2" % content['type'] %}

                {% endwith %}
                {% endwith %}

            {% endfor %}

            <div class="post__tags">
                <span class="post__tags__header">Tags:</span>
                <ul class="post__tags__list">
                {% for k in range(recent_posts[i]['tags']|length) %}
                    <li class="tag"><a href="{{ '/tags/' + recent_posts[i]['tags'][k]|urlencode }}">{{ recent_posts[i]['tags'][k] }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </article>

    {% endfor %}

{% endblock %}
