<section class="post-image">
    <figure>
        <img
            src="/static/images/{{ postId }}/{{ content.src }}"
            srcset="{% for i in range(content.srcset|length) %}
                /static/images/{{ postId }}/{{ content.srcset[i] }} {{ content.srcset[i].split('.')[2] }}w,
            {% endfor %}"
            alt="{{ content['altText'] }}"
        >
        <figcaption>
            {{ content.caption }}
        </figcaption>
    </figure>
</section>
