<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    <link href="{{url_for('static', filename='build/backend.css')}}" rel="stylesheet">
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> -->
</head>
<body>
    {# <input type="hidden" value="{{ siteData|tojson }}" id="siteData"> #}
    <div id="root" class="body-inner-wrapper  responsive" style="min-height: 100vh; position: relative"></div>
    <script>
        const siteData = ({{ siteData|tojson }});
    </script>
    <script src="{{url_for('static', filename='build/backend.js')}}" charset="utf-8"></script>
</body>
</html>
