<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <!-- <link href="{{url_for('static', filename='backend.css')}}" rel="stylesheet"> -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <form method="post" class="login-form">
            <input type="hidden" class="js-redirect" name="redirect" value="{{ request.args.get('redirect') }}">

            <label for="username">Username</label>
            <input type="text" class="js-username" name="username" id="username">

            <label for="password">Password</label>
            <input type="password" class="js-password" name="password" id="password">

            <label for="remember">Remember for 30 days</label>
            <input type="checkbox" class="js-remember" name="remember">

            <input type="submit" class="js-submit" name="submit" value="Login">
        </form>
    </main>
    <script src="{{url_for('static', filename='login.js')}}" charset="utf-8"></script>
</body>
</html>
