<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='build/login.css')}}">
</head>
<body>
    <div class="message-flash  js-message-flash"></div>
    <main class="main">
        <div class="login-form-wrapper">
            <form method="post" class="login-form">
                <h1 class="login-form__title">Admin Login</h1>

                <input type="hidden" class="js-redirect" name="redirect" value="{{ request.args.get('redirect') }}">

                <label for="username" class="input__label">Username</label>
                <input type="text" class="input--text  js-username" name="username" id="username" autocomplete="off">

                <label for="password" class="input__label">Password</label>
                <input type="password" class="input--text  js-password" name="password" id="password" autocomplete="off">

                <div class="flex-container">
                    <div class="checkbox-wrapper">
                        <label for="remember" class="input__label  input__label--checkbox">Remember for 30 days</label>
                        <input type="checkbox" class="input--checkbox  js-remember" name="remember" checked>
                        <span class="checkmark"></span>
                    </div>
                    <input type="submit" class="btn  btn--submit  js-submit" name="submit" value="Login">
                </div>
            </form>
        </div>

        <div class="back-link">
            Here by mistake? <a href="/">Go back to safety</a>
        </div>
    </main>
    <script src="{{url_for('static', filename='build/login.js')}}" charset="utf-8"></script>
</body>
</html>
