// Variables

// Fonts
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
$sans: 'Inter', Helvetica, sans-serif;
$mono: 'Roboto Mono', monospace;

// Colors
$black: #000;
$gray: #999;
$gray--lighter: #bbb;
$red: #f7484e;
$yellow: #f8c921;
$green: #42d392;
$white: #fff;
$canvas: #f6f6f6;

// Styles
$shadow: 0px .125em .6em rgba(85, 85, 85, 0.25);
