// footer

.footer {
    font-size: .7em;
    background-color: $canvas;
    font-family: $sans;
    color: $gray;
    padding: 0 1rem;

    a {
        color: darken($gray, 20%);
        text-decoration: none;
    }
}
