@import "components";
@import "reset.scss";
@import "header.scss";
@import "footer.scss";
@import "nav.scss";

// Basics, Globals, and Defaults
.emoji {
    font-family: Helvetica;
}
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}
.animate--rotate {
    @keyframes rotate {
        0% {transform: rotate(0deg)}
        100% {transform: rotate(360deg)}
    }
    animation: rotate 3s linear infinite;
}
.text--faint {
    opacity: .5;
}
.align--horizontal {
    display: inline-flex;
    align-items: center;
}

//---> Inputs
.input-container {
    font-size: 1em;
    margin: 1.5em 0;
    display: block;
    -webkit-appearance: none;

    &--edited {
        input.input--text, textarea.input--text {
            box-shadow: 0px 0px 0px 1px $yellow;
        }
    }
    .input__label {
        font-size: .6em;
        font-family: $sans;
        color: $gray;
        margin-left: 1em;
        margin-bottom: .2em;
        display: block;
    }
    .input--text {
        font-size: 1em;
        font-family: $sans;
        padding: .4em;
        appearance: none;
        box-shadow: 0px 0px 0px 1px $gray--lighter;
        border: none;
        border-radius: 2px;
        background-color: transparent;
        width: 100%;
        z-index: 99;
        position: relative;
        display: block;

        &--small {
            max-width: 15em;
        }
        &--multiline {
            width: 100%;
            resize: vertical;
        }
        &--code {
            font-size: .8em;
            font-family: $mono;
        }
        &--full-width {
            width: 100%;
            max-width: unset;
        }
        &--important {
            font-weight: 700;
        }
        &:focus, &:active {
            outline: none;
            box-shadow: 0 0 0 2px $gray--lighter;
        }
    }
    .input--file {
        width: .1px;
        height: .1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;

        &__filename {
            font-size: .8em;
            font-family: $sans;
            padding: .4em;
            border: 1px solid $gray--lighter;
            border-radius: 2px;
            text-align: center;
            max-width: 10em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &__button {
            font-size: .8em;
            font-family: $sans;
            text-decoration: underline;
            margin-left: 1em;
        }
    }
}

//---> Sections
body {
    background-color: $canvas
}
.body-inner-wrapper {
    display: flex;
}
.main-wrapper {
    width: 100%;
}
.main {
    background-color: $canvas;
    padding: 1em 1em 0;

    @media only screen and (min-width: $xx-large) {
        .flex-wrapper {
            display: flex;

            .section {
                flex-basis: 50%;
                max-width: 31.25em;
            }
            section:not(:last-child) {
                margin-right: 1em;
            }
        }
    }
}
.section {
    padding: 1rem;
    margin: 1em 0;
    background-color: $white;
    border-radius: .5em;
    border: 1px solid $gray--lighter;
    box-shadow: $shadow;

    &__heading {
        font-size: 1.5em;
        font-family: $sans;
        font-weight: 700;
    }
}
fieldset {
    appearance: none;
    border: none;
}

//---> Other
.breadcrumbs {
    font-size: .75em;
    font-family: $sans;
    color: $gray;
}
//---> Buttons
.btn {
    cursor: pointer;
    appearance: none;
    display: inline;

    &--icon {
        width: 1.5em;
        height: 1.5em;
        appearance: none;

        svg {
            width: 100%;
            height: 100%;
        }
        &--green {
            svg {stroke: $green};
        }
    }
    &--text {
        font-size: 1em;
        font-family: $sans;
        color: $white;
        padding: .2em .35em;
        border: none;
        border-radius: .25em;
        text-decoration: none;

        &--red {
            background-color: $red;

            &:hover {
                background-color: darken($red, 10%);
            }
        }
        &--blue {
            background-color: $blue;

            &:hover {
                background-color: lighten($blue, 10%);
            }
        }
    }
    &--delete-file {
        width: 1.25em;
        height: 1.25em;
        margin-left: .5em;
    }
    &:focus, &:active {
        outline: none;
        border: none;
    }
}
.icon {
    width: 1em;
    height: 1em;
    appearance: none;
}

.finalize-edits {
    display: flex;
    margin-top: .5em;
    align-items: center;
    justify-content: flex-end;

    .btn:not(:first-child) {
        margin-left: 1em;
    }
}
.finalize-edit-container {
    display: flex;
    align-items: center;

    .input--text {
        flex-grow: 2;
    }
    .finalize-edits {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        margin-top: 0;
        margin-left: .4em;
        min-width: 4em;

        .btn:first-child {
            flex-grow: 2;
        }
    }

}
.finalize-edits {
    // margin-top: .5em;
    // display: flex;

    .btn:not(:last-child) {
        // margin-right: 1em;
    }
}


////// Loading Screen
.loading-screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $canvas;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;

    &__text {
        font-family: $sans;
        margin-bottom: 30vh;
        width: 70%;
    }
    &__icon {
        width: 3em;
        height: 3em;
        position: absolute;
        top: calc(50% - 1.5em);
        left: calc(50% - 1.5em);
        stroke: $gray;
        stroke-width: 1;
    }
}

.error-page {
    text-align: center;
    padding: 2em 1em;

    @media only screen and (min-width: $medium) {
        font-size: 1.25em;
    }
    &__title {
        font-size: 1.5em;
        font-family: $sans;
        color: $black;
        font-weight: 800;
        margin-bottom: 2em;
    }
    &__link {
        font-size: 1em;
        font-family: $sans;
        color: $black;
        font-weight: 600;
        margin-top: 2em;
        display: block;
    }
    .periscope {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    @keyframes look {
        0% {
            transform: translateX(10px);
        }
        30% {
            transform: translateX(10px)
        }
        70% {
            transform: translateX(-11px);
        }
        100% {
            transform: translateX(-11px);
        }
    }
    .pupil {
        animation-name: look;
        animation-direction: alternate;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

}
