// Navigation
.nav-trigger-container {
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 999;

    @media only screen and (min-width: $large) {
        display: none;
    }
    .btn--nav-trigger {
        width: 2em;
        height: 2em;
    }
}
.navigation-wrapper {
    display: none;

    @media only screen and (min-width: $large) {
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: $white;
        min-height: 100vh;
        z-index: 600;
        width: 20em;
        font-size: 0.7em;
        box-shadow: $shadow;
        position: relative;
    }
    .show-navigation & {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: $white;
        min-height: 100vh;
        z-index: 600;
        width: 100%;
    }
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @media only screen and (min-width: $large) {
        position: fixed;
        height: 100vh;
    }
}
.navlink {
    font-size: 1.4em;
    font-family: $sans;
    font-weight: 600;
    color: $gray;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin-bottom: .5em;

    &.active {
        color: $primary;

        svg {
            fill: $primary;
        }
    }
    &:hover {
        color: $black;

        svg {
            fill: $black;
        }
    }
    svg {
        fill: $gray;
        width: 1.5em;
        height: 1.5em;
        margin-right: 1.5em;
    }
}
.main-navigation {
    display: block;
    padding: 4em 0 0 2em;
}
.secondary-navigation {
    align-self: flex-end;
    display: block;
    width: 100%;
    padding: 0 0 1em 2em;
}
