.post-list {
    display: grid;
    width: 100%;
    font-size: .9em;

    @media only screen and (min-width: $small) {
        font-size: 1em;
    }
    &__head {
        font-size: .6em;
        font-family: $sans;
        color: $gray;
        font-weight: 300;
        text-transform: uppercase;
        text-align: left;
        padding: .5rem;
        display: none;
        max-width: 50rem;

        @media only screen and (min-width: $x-large) {
            display: grid;
            grid-gap: .25rem;
            grid-template-columns: 2rem 3.5rem 10rem 2fr 2fr 2fr 3fr .5fr;
        }
    }
    &__body {
        display: grid;

        .post {
            background-color: $white;
            width: 100%;
            margin-bottom: 1em;
            box-shadow: $shadow, 0 0 0 1px $gray--lighter;
            border-radius: .5em;
            display: grid;
            grid-gap: .25rem;
            padding: .5rem;
            max-width: 50rem;

            grid-template:
                [row1-start] "checkbox id status" auto [row1-end]
                [row2-start] "checkbox title tag-title" auto [row2-end]
                [row3-start] "checkbox published tags" auto [row3-end]
                [row4-start] "checkbox last-edited tags" auto [row4-end]
                / 0em 5fr 2fr
            ;
            @media only screen and (min-width: $medium) {
                grid-template:
                    [row1-start] "checkbox id id . . status" auto [row1-end]
                    [row2-start] "checkbox title title . . status" auto [row2-end]
                    [row3-start] "checkbox title title . . ." auto [row3-end]
                    [row4-start] ". published published last-edited last-edited ." auto [row4-end]
                    [row5-start] ". tags tags tags tags tags" auto [row5-end]
                    / 0rem 1fr 1fr 1fr 1fr 1fr
                ;
            }
            @media only screen and (min-width: $x-large) {
                grid-template:
                    [row1-start] "checkbox id title status published last-edited tags details" auto [row1-end]
                    / 2rem 3.5rem 10rem 2fr 2fr 2fr 3fr .5fr
                ;
            }
            &--checked {
                box-shadow: 0 0 0 2px $primary, $shadow;
            }
            &__checkbox {
                grid-area: checkbox;
                justify-self: center;
                align-self: center;
                display: none;

                @media only screen and (min-width: $x-large) {
                    display: block;
                }
                input {
                    width: 1.2em;
                    height: 1.2em;
                    appearance: none;
                    box-shadow: 0 0 0 1px $gray--lighter;
                    border: none;
                    border-radius: .1em;
                    outline: none;
                    position: relative;
                    cursor: pointer;
                    margin: 0;
                    display: block;

                    @media only screen and (min-width: $x-large) {
                        width: 1em;
                        height: 1em;
                    }
                    &:checked {
                        background-color: $primary;
                        box-shadow: 0 0 0 1px $primary;
                    }
                    &:checked::after {
                        content: "";
                        font-size: .7em;
                        position: absolute;
                        top: calc(50% - 0.75em);
                        left: calc(50% - .35em);
                        width: .5em;
                        height: 1em;
                        border: 1px solid $white;
                        border-width: 0 .2em .2em 0;
                        transform: rotate(45deg);
                    }
                }
            }
            &__id {
                font-family: $sans;
                font-weight: 500;
                grid-area: id;
                align-self: center;

                @media only screen and (min-width: $medium) {
                    font-size: .8em;
                }
                @media only screen and (min-width: $x-large) {
                    font-size: .9em;
                }
                .draft-prefix {
                    color: $gray;
                    font-style: italic;
                }
            }
            &__title {
                font-size: 1.2em;
                font-family: $sans;
                font-weight: 500;
                grid-area: title;

                @media only screen and (min-width: $x-large) {
                    font-size: 1em;
                    align-self: center;
                }
                .truncate {
                    width: 90%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
            &__status {
                font-size: .9em;
                font-family: $sans;
                display: inline;
                grid-area: status;
                justify-self: end;
                align-self: center;
                margin: 1px;

                @media only screen and (min-width: $x-large) {
                    justify-self: start;
                }
                .status {
                    display: inline;
                    padding: 0 .25em;

                    &--draft, &--archived {
                        color: $gray--lighter;
                        box-shadow: 0 0 0 1px $gray--lighter;
                    }
                    &--live {
                        color: $white;
                        background-color: $primary;
                        box-shadow: 0 0 0 1px $primary;
                    }
                }
            }
            &__published {
                font-size: .8em;
                font-family: $sans;
                font-weight: 500;
                grid-area: published;
                align-self: center;

                &::before {
                    content: "Published:";
                    font-family: $sans;
                    color: $gray--lighter;
                    margin-right: .25em;

                    @media only screen and (min-width: $x-large) {
                        content: unset;
                        display: none;
                    }
                }
            }
            &__last-edited {
                font-size: .8em;
                font-family: $sans;
                font-weight: 500;
                grid-area: last-edited;
                align-self: center;

                &::before {
                    content: "Last edited:";
                    font-family: $sans;
                    color: $gray--lighter;
                    margin-right: .25em;

                    @media only screen and (min-width: $x-large) {
                        content: unset;
                        display: none;
                    }
                }
            }
            &__tags {
                display: flex;
                flex-wrap: wrap;
                grid-area: tags;
                padding: 1px;
                align-items: flex-start;
                width: 100%;
                position: relative;

                @media only screen and (min-width: $medium) {
                    justify-self: start;
                    align-self: center;
                    align-items: center;
                }
                @media only screen and (min-width: $x-large) {
                    flex-wrap: nowrap;
                    max-width: 100%;
                    overflow: hidden;

                    &::after {
                        content: "";
                        position: absolute;
                        height: 100%;
                        width: 1.5em;
                        right: 0;
                        background: linear-gradient(to left, white, transparent);
                        display: block;
                    }
                }
                &::before {
                    font-size: .8em;
                    content: "Tags:";
                    font-family: $sans;
                    color: $gray--lighter;
                    position: absolute;
                    top: -1.2em;

                    @media only screen and (min-width: $medium) {
                        position: unset;
                        top: unset;
                        margin-right: .25em;
                    }
                    @media only screen and (min-width: $x-large) {
                        content: unset;
                        display: none;
                    }
                }
                .tag {
                    font-size: .9em;
                    font-family: $sans;
                    font-weight: 400;
                    color: $gray--lighter;
                    display: inline;
                    padding: 0 .25em;
                    box-shadow: 0 0 0 1px $gray--lighter;
                    margin: .25em;
                }
            }
            &__details {
                display: none;

                @media only screen and (min-width: $xxx-large) {
                    display: block;
                    display: flex;
                    align-items: center;
                    grid-area: details;

                    svg {
                        display: block;
                    }
                }
            }
        }
    }
}
