<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    <link href="{{url_for('admin.static', filename='build/backend.css')}}" rel="stylesheet">
</head>
<body>
    <div id="root" class="body-inner-wrapper  responsive" style="min-height: 100vh; position: relative"></div>

    {% if siteData %}
        <script>const siteData = ({{ siteData|tojson }});</script>
    {% else %}
        <script>const siteData = {};</script>
    {% endif %}
    <script src="{{url_for('admin.static', filename='build/backend.js')}}" charset="utf-8"></script>
</body>
</html>
