<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post_data['title'] }} | Preview</title>
    <link href="{{url_for('public.static', filename='build/theme.css')}}" rel="stylesheet">
</head>
<body>
    {% if private %}
        <a href="{{ '/admin/posts/' + post_data['_id']|string }}">Back to Backend</a>
    {% endif %}

    <article class="post  markdown-body">
        <h1 class="post__title">{{ post_data['title'] }}</h1>
        {% if post_data['published'] %}
            <p class="post__metadata">{{ post_data['published']|make_date }} | {{ post_data['author'] }}</p>
        {% else %}
            <p class="post__metadata">Draft | {{ post_data['author'] }}</p>
        {% endif %}


        {% for i in range(post_data['content']|length) %}

            {% set module_data = post_data['content'][i]|retrieve_content %}

            {% with postId = post_data["_id"]|string %}
            {% with content = module_data %}

                {% include "posts/%s.j2" % module_data['type'] %}

            {% endwith %}
            {% endwith %}

        {% endfor %}

        <div class="post__tags">
            <span class="post__tags__header">Tags:</span>
            <ul class="post__tags__list">
            {% for i in range(post_data['tags']|length) %}
                <li class="tag"><a href="{{ '/tags/' + post_data['tags'][i]|urlencode }}">{{ post_data['tags'][i] }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </article>
</body>
</html>
