<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    <link href="{{url_for('static', filename='bundle.css')}}" rel="stylesheet">
</head>
<body>
    <header><h1>CMS</h1></header>

    <div class="nav-wrapper">
        <nav>
            <ul>
                <li><a href="">Pages</a></li>
                <li><a href="">Modules</a></li>
                <li><a href="">Users</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
