<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <!-- Meta tag generator here -->

    <link href="{{url_for('static', filename='build/theme.css')}}" rel="stylesheet">
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
