{% extends 'base.j2' %}
{% block title %}Admin{% endblock %}

{% block header %}
<header>
    <h1>Content-Management</h1>
</header>
{% endblock %}

{% block content %}
    <div class="cms">

    </div>
{% endblock %}
