<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <link href="{{url_for('static', filename='bundle.css')}}" rel="stylesheet">
</head>
<body>
    {#{ module_data["modules"][0]|list }#}<br>

    {#% with pageTitle=module_data["modules"][0]["Header"]["pageTitle"], author=module_data["modules"][0]["Header"]["author"] %}
        {% include "modules/%s.j2" % (module_data["modules"][0]|list)[0] %}
    {% endwith %#}

    {% for n in range(module_data["modules"]|length) %}

        {% set module_name = (module_data["modules"][n]|list)[0] %}

            {% with data = module_data["modules"][n][module_name] %}

                {% include "modules/%s.j2" % module_name %}

            {% endwith %}

    {% endfor %}

</body>
</html>
