<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <link href="{{url_for('static', filename='bundle.css')}}" rel="stylesheet">
</head>
<body>
    {#
        Cycle through the modules and include them & send data to them
    #}
    {% for module_index in range(module_data["modules"]|length) %}

        {% set module_name = (module_data["modules"][module_index]|list)[0] %}

            {% with data = module_data["modules"][module_index][module_name] %}

                {% include "modules/%s.j2" % module_name %}

            {% endwith %}

    {% endfor %}
    
</body>
</html>
