{% extends 'base.j2' %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <div id="content"></div>

{# <script charset="UTF-8">
        console.log({{ pages|tojson }});
    </script> #}
{% endblock %}
